name = "todolist-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"

[[d1_databases]]
binding = "DB"
database_name = "todolist-db"
database_id = "ini ganti dengna id d1"  # Ganti dengan ID D1 database setelah create

[[kv_namespaces]]
binding = "KV"
id = "ini id dari kv" # ganti yaa